<nav class="navbar navbar-light navbar-expand-md py-3 sticky-top" style="background: rgb(26,29,33);">
    <div class="container">
        <a class="navbar-brand" style="color:white;" href="#">MDocs</a>
        <div class="collapse navbar-collapse" id="navcol-3">
            <ul class="navbar-nav mx-auto">
                <!--
                <li class="nav-item">
                    <div class="nav-item dropdown" style="padding: 8px;color: rgb(255,255,255);">
                        <a class="dropdown-toggle active" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgb(255,255,255);text-decoration: none;">About</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/about">About</a>
                            <a class="dropdown-item" href="/models">Models</a>
                        </div>
                    </div>
                </li>
                -->
            </ul>
        </div>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>