<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>MDocs</title>

    <script type="module" src="/assets/js/zero-md.min.js"></script>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
</head>

<body style="background: rgb(33,37,41);font-family: Montserrat, sans-serif;">
    <div class="bg-dark text-secondary px-4 py-5">
        <div class="py-6">
            <% let parPath = path.split("/") %> 
            <nav aria-label="breadcrumb">
                <% let finalPath = "";%>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <% parPath.forEach((dir) => { %>
                        <% finalPath += `${dir}/`;%>
                        <% if(dir.endsWith(".md")) { %> 
                            <li class="breadcrumb-item active" aria-current="page"><%= dir %></li> 
                        <% } else { %>
                            <li class="breadcrumb-item"><a href="/docs?path=<%= finalPath %>"><%= dir %></a></li>
                        <% } %> 
                    <% }); %>
                </ol>
            </nav>
            <zero-md src="/md/<%= path %>">
                <template>
                    <link
                        rel="stylesheet"
                        href="/assets/css/prism-one-dark.min.css"
                    />
                    <link
                        rel="stylesheet"
                        href="/assets/css/github-markdown.min.css"
                    />
                    <style>
                        .markdown-body {
                            background-color: rgb(26,29,33); 
                            color: #fff;
                            border-radius: 10px;
                            border: 2px solid #888888;
                            padding: 20px;
                            margin: 50px;
                        }
                        .markdown-body pre {
                            border-radius: 7.5px;
                            padding: 10px;
                            background-color: rgb(45, 50, 56);
                        }
                        .markdown-body code {
                            text-shadow: none;
                            background-color: rgb(45, 50, 56);
                        }
                    </style>
                </template>
            </zero-md>
        </div>
    </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>